In [134]:
# Password  H2o$ymw@19

In [135]:
list.files(path = "./Data",recursive="True")

[1] "adm_exm.ods"   "adm_exm.xlsx"  "DataFile.xlsx" "Panel101.dta"

In [136]:
library(xlsx)
df=read.xlsx("./Data/adm_exm.xlsx", sheetIndex = 1)

In [137]:
head(df)

  year Bank.Group    Bank                                     id Ownership
1 2005 Foreign Banks ABU DHABI COMMERCIAL BANK                1  0
2 2005 Foreign Banks BANK OF BAHRAIN & KUWAIT B.S.C.          2  0
3 2005 Foreign Banks CITIBANK N.A.                            3  0
4 2005 Foreign Banks DEUTSCHE BANK AG                         4  0
5 2005 Foreign Banks HONGKONG AND SHANGHAI BANKING CORPN.LTD. 5  0
6 2005 Foreign Banks ROYAL BANK OF SCOTLAND N.V.              6  0
  ROA   CDR        X..IDR   PRIORITY NIM      DIV      CAR   NNPAs
1 -2.57   5.404583 75.62776 30.55653 0.609123 2.071552 14.38 12.7300000
2 -3.52  66.928244 48.12748 25.83943 1.947337 0.382617 11.66  5.5300000
3  2.84  84.297883 37.79413 23.32989 4.575780 2.977108 10.78  1.0000000
4  0.72  71.407677 63.34906 26.29262 0.883570 4.219317 16.22  0.2855556
5  1.27  74.183082 53.89395 17.61938 3.689262 2.482585 14.03  0.5000000
6  1.27 140.001002 47.40394 32.24842 4.411332 3.347998 10.55  0.3500000
  GDPG     LSEN      SIZEA
1 7.922901  3.379701  9.878603
2 7.922901  2.681022  8.700398
3 7.922901 10.629150 12.730986
4 7.922901  5.284218 11.584962
5 7.922901 10.785917 12.538959
6 7.922901  9.168466 11.944402

In [138]:
colnames(df)

 [1] "year"       "Bank.Group" "Bank"       "id"         "Ownership"
 [6] "ROA"        "CDR"        "X..IDR"     "PRIORITY"   "NIM"
[11] "DIV"        "CAR"        "NNPAs"      "GDPG"       "LSEN"
[16] "SIZEA"

In [139]:
y="NIM"
X=c('ROA' ,'CDR', 'X..IDR', 'PRIORITY' ,'DIV' ,'CAR', 'NNPAs', 'LSEN', 'SIZEA', 'Ownership')
df_index=c("year","Bank")

In [140]:
df=df[,c(df_index,y, X)]

In [141]:
head(df)

  year Bank                                     NIM      ROA   CDR
1 2005 ABU DHABI COMMERCIAL BANK                0.609123 -2.57   5.404583
2 2005 BANK OF BAHRAIN & KUWAIT B.S.C.          1.947337 -3.52  66.928244
3 2005 CITIBANK N.A.                            4.575780  2.84  84.297883
4 2005 DEUTSCHE BANK AG                         0.883570  0.72  71.407677
5 2005 HONGKONG AND SHANGHAI BANKING CORPN.LTD. 3.689262  1.27  74.183082
6 2005 ROYAL BANK OF SCOTLAND N.V.              4.411332  1.27 140.001002
  X..IDR   PRIORITY DIV      CAR   NNPAs      LSEN      SIZEA     Ownership
1 75.62776 30.55653 2.071552 14.38 12.7300000  3.379701  9.878603 0
2 48.12748 25.83943 0.382617 11.66  5.5300000  2.681022  8.700398 0
3 37.79413 23.32989 2.977108 10.78  1.0000000 10.629150 12.730986 0
4 63.34906 26.29262 4.219317 16.22  0.2855556  5.284218 11.584962 0
5 53.89395 17.61938 2.482585 14.03  0.5000000 10.785917 12.538959 0
6 47.40394 32.24842 3.347998 10.55  0.3500000  9.168466 11.944402 0

In [142]:
df=pdata.frame(df, index=df_index)

In [143]:
pdim(df)

Balanced Panel: n = 12, T = 49, N = 588

In [144]:
library(lmtest)
library(car)

In [145]:
library(plm)
pool=plm(NIM~ROA +CDR+ X..IDR+ PRIORITY +DIV +CAR+ NNPAs+ LSEN+ SIZEA+ Ownership, data=df,index=df_index, model="pooling")
plmtest(pool, type=c("bp"))#Ho : NUll variance

	Lagrange Multiplier Test - (Breusch-Pagan) for unbalanced panels

data:  NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR + NNPAs + LSEN +  ...
chisq = 24.076, df = 1, p-value = 9.263e-07
alternative hypothesis: significant effects

In [146]:
## Variance not null panel effects presten, cannot use pool

In [178]:
fixed=plm(NIM~ROA+CDR+X..IDR+PRIORITY+DIV+CAR+NNPAs+LSEN+SIZEA+Ownership, data=df,index=df_index, model="within")
random=plm(NIM~ROA+CDR+X..IDR+PRIORITY+DIV+CAR+NNPAs+LSEN+SIZEA+Ownership, data=df,index=df_index, model="random")
phtest(fixed, random)

	Hausman Test

data:  NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR + NNPAs + LSEN +  ...
chisq = 6.6957, df = 10, p-value = 0.7538
alternative hypothesis: one model is inconsistent

In [179]:
fixed_time=plm(NIM~ROA+CDR+X..IDR+PRIORITY+DIV+CAR+NNPAs+LSEN+SIZEA+Ownership+ factor(year), data=df,index=df_index)

In [182]:
pFtest(fixed_time,fixed)

	F test for individual effects

data:  NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR + NNPAs + LSEN +  ...
F = NaN, df1 = 0, df2 = 562, p-value = NA
alternative hypothesis: significant effects

In [184]:
library(tseries)

In [185]:
adf.test(df$NIM, k=2)

Warning message in adf.test(df$NIM, k = 2):
“p-value smaller than printed p-value”

	Augmented Dickey-Fuller Test

data:  df$NIM
Dickey-Fuller = -14.016, Lag order = 2, p-value = 0.01
alternative hypothesis: stationary

In [187]:
library(lmtest)
bptest(NIM~ROA+CDR+X..IDR+PRIORITY+DIV+CAR+NNPAs+LSEN+SIZEA+Ownership+factor(Bank), data=df,studentize = F)

	Breusch-Pagan test

data:  NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR + NNPAs + LSEN +     SIZEA + Ownership + factor(Bank)
BP = 540.94, df = 57, p-value < 2.2e-16

In [188]:
pbgtest(fixed)

	Breusch-Godfrey/Wooldridge test for serial correlation in panel models

data:  NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR + NNPAs + LSEN +     SIZEA + Ownership
chisq = 125.76, df = 47, p-value = 4.131e-09
alternative hypothesis: serial correlation in idiosyncratic errors

In [189]:
fixed_diff=plm(NIM~ROA+CDR+X..IDR+PRIORITY+DIV+CAR+NNPAs+LSEN+SIZEA+Ownership, data=df,index=df_index, model="fd")
pbgtest(fixed_diff)

	Breusch-Godfrey/Wooldridge test for serial correlation in panel models

data:  NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR + NNPAs + LSEN +     SIZEA + Ownership
chisq = 259.21, df = 47, p-value < 2.2e-16
alternative hypothesis: serial correlation in idiosyncratic errors

In [190]:
summary(fixed)

Oneway (individual) effect Within Model

Call:
plm(formula = NIM ~ ROA + CDR + X..IDR + PRIORITY + DIV + CAR +
    NNPAs + LSEN + SIZEA + Ownership, data = df, model = "within",
    index = df_index)

Unbalanced Panel: n = 12, T = 47-49, N = 584

Residuals:
     Min.   1st Qu.    Median   3rd Qu.      Max.
-2.584968 -0.325428 -0.030124  0.320243  2.265176

Coefficients:
            Estimate Std. Error t-value  Pr(>|t|)
ROA        0.5342217  0.0453595 11.7775 < 2.2e-16 ***
CDR       -0.0024589  0.0016715 -1.4710  0.141842
X..IDR     0.0036967  0.0024245  1.5247  0.127889
PRIORITY   0.0326691  0.0040744  8.0182 6.258e-15 ***
DIV        0.3289281  0.0506489  6.4943 1.838e-10 ***
CAR        0.0053977  0.0022952  2.3517  0.019033 *
NNPAs      0.0311087  0.0200603  1.5508  0.121523
LSEN       0.1089253  0.0429316  2.5372  0.011444 *
SIZEA     -0.1523696  0.0608764 -2.5029  0.012600 *
Ownership -0.2470971  0.0787170 -3.1391  0.001784 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    417.74
Residual Sum of Squares: 198.65
R-Squared:      0.52446
Adj. R-Squared: 0.50669
F-statistic: 61.9825 on 10 and 562 DF, p-value: < 2.22e-16