In [20]:
unbal <- data.frame(PERSON=c(rep('Frank',5),rep('Tony',5),rep('Edward',5)), YEAR=c(2001,2002,2003,2004,2005,2001,2002,2003,2004,2005,2001,2002,2003,2004,2005), Y=c(21,22,23,24,25,5,6,NA,7,8,31,32,33,34,35), X=c(1:15))
unbal

   PERSON YEAR Y  X
1  Frank  2001 21  1
2  Frank  2002 22  2
3  Frank  2003 23  3
4  Frank  2004 24  4
5  Frank  2005 25  5
6  Tony   2001  5  6
7  Tony   2002  6  7
8  Tony   2003 NA  8
9  Tony   2004  7  9
10 Tony   2005  8 10
11 Edward 2001 31 11
12 Edward 2002 32 12
13 Edward 2003 33 13
14 Edward 2004 34 14
15 Edward 2005 35 15

In [26]:
ubal=pdata.frame(unbal, index = c("PERSON", "YEAR"))

In [31]:
?make.pbalanced

In [12]:
pdim(unbal)

Balanced Panel: n = 3, T = 5, N = 15

In [30]:
make.pbalanced(unbal, balance.type = "fill",index = c("PERSON", "YEAR") )

   PERSON YEAR Y  X
1  Edward 2001 31 11
2  Edward 2002 32 12
3  Edward 2003 33 13
4  Edward 2004 34 14
5  Edward 2005 35 15
6  Frank  2001 21  1
7  Frank  2002 22  2
8  Frank  2003 23  3
9  Frank  2004 24  4
10 Frank  2005 25  5
11 Tony   2001  5  6
12 Tony   2002  6  7
13 Tony   2003 NA  8
14 Tony   2004  7  9
15 Tony   2005  8 10

In [7]:
list.files(path = "./Data", recursive="True")

[1] "DataFile.xlsx"

In [9]:
library(xlsx)
df=read.xlsx("./Data/DataFile.xlsx", sheetIndex = 1)

In [11]:
head(df)

  year Bank.Group    Bank                                     id CEE1
1 2006 Foreign Banks CITIBANK N.A.                            1  0.15130205
2 2006 Foreign Banks DEUTSCHE BANK AG                         2  0.07489510
3 2006 Foreign Banks HONGKONG AND SHANGHAI BANKING CORPN.LTD. 3  0.23463793
4 2006 Foreign Banks ROYAL BANK OF SCOTLAND N.V.              4  0.08739476
5 2006 Foreign Banks BANK OF AMERICA N.A.                     5  0.09517776
6 2006 Foreign Banks BANK OF NOVA SCOTIA                      6  0.07323517
  ETA        SIZEA    PE       PE1
1 0.09567215 13.02668 0.529859 1
2 0.10882080 11.69943 1.000000 1
3 0.11118043 12.83396 0.482779 0
4 0.06748442 12.36904 0.528774 1
5 0.26519828 10.99636 1.000000 1
6 0.08191892 10.51901 1.000000 1

In [ ]:
###time series data-over a period of time.....cross sectional-at a particular point of time...
#### panel data(lonitudinal data) is combination of both
### Fixed asset model,random effects model,pooled ols (ordinary least square)

### fixed asset is done on variables which change over time
### assumption of random effect is cov(x,a) not = 0
###install lmtest
## ols

In [16]:
ols=lm(PE ~CEE1+ETA+SIZEA, data=df)
summary(ols)

Call:
lm(formula = PE ~ CEE1 + ETA + SIZEA, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.72158 -0.18520 -0.04414  0.21682  0.55785

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.524256   0.102443  14.879  < 2e-16 ***
CEE1        -0.339423   0.098733  -3.438 0.000626 ***
ETA          0.041299   0.066258   0.623 0.533307
SIZEA       -0.066484   0.007196  -9.239  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.25 on 619 degrees of freedom
Multiple R-squared:  0.1596,	Adjusted R-squared:  0.1555
F-statistic: 39.18 on 3 and 619 DF,  p-value: < 2.2e-16

In [20]:
library(plm)
fixed = plm(PE ~ CEE1+ETA+SIZEA, data=df, index=c("id", "year"), model="within")
summary(fixed)

Oneway (individual) effect Within Model

Call:
plm(formula = PE ~ CEE1 + ETA + SIZEA, data = df, model = "within",
    index = c("id", "year"))

Unbalanced Panel: n = 60, T = 3-11, N = 623

Residuals:
      Min.    1st Qu.     Median    3rd Qu.       Max.
-0.4520567 -0.0891328 -0.0056814  0.0751628  0.7260402

Coefficients:
      Estimate Std. Error t-value  Pr(>|t|)
CEE1  0.327105   0.143083  2.2861 0.0226202 *
ETA   0.328711   0.088528  3.7131 0.0002253 ***
SIZEA 0.072804   0.014285  5.0964  4.74e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    17.87
Residual Sum of Squares: 16.622
R-Squared:      0.069821
Adj. R-Squared: -0.033163
F-statistic: 14.0115 on 3 and 560 DF, p-value: 8.0765e-09

In [21]:
##F test for choice between OLS and fixed effects
######## Null: OLS is better than fixed
pFtest(fixed, ols)   ## fixed effect is appropriate

	F test for individual effects

data:  PE ~ CEE1 + ETA + SIZEA
F = 12.592, df1 = 59, df2 = 560, p-value < 2.2e-16
alternative hypothesis: significant effects

In [ ]:
## Random effects estimation
random <- plm(PE ~ CEE1+ETA+SIZEA, data=Data_File, index=c("id", "year"), model="random")
summary(random)
## Hausman test for choice between fixed effects and random effects
##? NUll: null hypothesis is that the preferred model is random effects vs. the alternative the fixed effects
phtest(fixed, random) 
#? Null is rejected i.e. fixed effect is appropriate
## Choice between random effects and Ols BPLM Test
pool <- plm(PE ~ CEE1+ETA+SIZEA, data=Data_File, index=c("id", "year"), model="pooling")
summary(pool)

#### Null is no panel effect (i.e. OLS better).
plmtest(pool, type=c("bp"))

##// Test for cross sectional dependence
## The null hypothesis in the B-P/LM and Pasaran CD tests of independence is that residuals across entities
## are not correlated i.e. no cross sectional dependence
fixed <- plm(PE ~ CEE1+ETA+SIZEA, data=Data_File, index=c("id", "year"), model="within")
pcdtest(fixed, test = c("cd"))

##// Wooldridge test for serial correlation
###? Null: No serial correlation
fixed <- plm(PE ~ CEE1+ETA+SIZEA, data=Data_File, index=c("id", "year"), model="within")
pbgtest(fixed)

##// Testing for heteroskedasticity
##? # Null: Homo skedasticity
library(lmtest)
bptest(PE ~ CEE1+ETA+SIZEA+factor(id), data=Data_File)

# here Reject Null, Hetroscadisticity present



## Unit root
###? NUll: Unit root present
Panel.set <- plm.data(Data_File,index=c("id", "year"))
library(tseries)
adf.test(Data_File$PE, k = trunc((length(Data_File$CEE1)-1)^(1/3)))