In [3]:
ls ./Data

agri/                  Lung Cap_Random_csv.csv*
Crude_Futures.csv*     mid/
Crude_spot.csv*        New Microsoft Excel Worksheet.xlsx*
Data.csv               OLS.R
Data File.csv          RELIANCE_Bhavcopy_xls.xls*
Data File.xlsx         RELIANCE_Bhavcopy_xlsx.xlsx*
Data_for_Agri.zip      RELIANCE_close price.csv*
Data_for_mid-term.zip  RELIANCE_number of trades.csv*
Data.xlsx              RELIANCE_trade quantity.csv*
Lung Cap_Random2.csv   sddg.xlsx
Lung Cap_Random.csv*

In [4]:
import pandas as pd

In [5]:
x=pd.read_xlsx("./Data/Crude_spot.csv")

In [11]:
x.head(10)

       Date  Spot Price
0  22-10-05        2573
1  24-10-05        2702
2  25-10-05        2793
3  26-10-05        2844
4  27-10-05        2726
5  28-10-05        2746
6  29-10-05        2760
7  31-10-05        2725
8  02-11-05        2698
9  05-11-05        2751

In [12]:
x.tail(10)

          Date  Spot Price
2850  17-06-15        3847
2851  18-06-15        3842
2852  19-06-15        3860
2853  22-06-15        3804
2854  23-06-15        3835
2855  24-06-15        3883
2856  25-06-15        3837
2857  26-06-15        3798
2858  29-06-15        3793
2859  30-06-15        3728