# Setting up libraries

https://www.ndtv.com/business/marketdata/stocks-gainers/niftyinfrast_daily

In [7]:
import quandl
quandl.ApiConfig.api_key = 'MBMzvkxtv63KjFEV-tL6'
from quandl.errors.quandl_error import NotFoundError

In [8]:
import pandas as pd

In [9]:
slist=pd.read_csv("all_sectors.csv")

In [10]:
sl=slist["Symbol"]
sl

0           LT
1    ICICIBANK
2    EICHERMOT
3         HDFC
4        WIPRO
5    SUNPHARMA
6          ITC
7     VIDEOIND
8     HINDZINC
9          TCS
Name: Symbol, dtype: object

## Query SEtup

In [11]:
d1="2017-09-14"
d2="2018-09-14"
tick="BRITANNIA"
query="NSE/"+tick

In [12]:
df_base=quandl.get(query, start_date=d1, end_date=d2, column_index='0')
df=df_base

In [13]:
df.head()

Empty DataFrame
Columns: []
Index: [2017-09-14 00:00:00, 2017-09-15 00:00:00, 2017-09-18 00:00:00, 2017-09-19 00:00:00, 2017-09-20 00:00:00]

## Fetching Data

In [14]:
for tick in sl:
    query="NSE/"+tick
    df_temp=quandl.get(query, start_date=d1, end_date=d2, column_index='5')
    df_temp.columns=[tick]
    df=pd.concat([df, df_temp], join_axes=[df.index], axis=1)
    print("Done for: {0}".format(tick))

Done for: LT
Done for: ICICIBANK
Done for: EICHERMOT
Done for: HDFC
Done for: WIPRO
Done for: SUNPHARMA
Done for: ITC
Done for: VIDEOIND
Done for: HINDZINC
Done for: TCS

In [15]:
df
# df[df["ITC"]>0]["DABUR"]
# query="NSE/MCDHOLDING"
# quandl.get(query, start_date=d1, end_date=d2, column_index='5')
df.to_csv("test.csv")

## Fetching data for NSE 50

In [16]:
nse=pd.read_csv("nse50.csv", index_col="Date", usecols=["Date","Close"])
nse.columns=['NSE']
nse.head()

                     NSE
Date
2017-09-13           NaN
2017-09-14  10086.599609
2017-09-15  10085.400391
2017-09-18  10153.099609
2017-09-19  10147.549805

In [17]:
nse=nse.drop(['2017-09-13'])
nse.head()

                     NSE
Date
2017-09-14  10086.599609
2017-09-15  10085.400391
2017-09-18  10153.099609
2017-09-19  10147.549805
2017-09-20  10141.150391

## Finding daily returns

In [18]:
import numpy as np

In [19]:
def asset_returns(df):
    df_ret=df_base
    for col in df.columns:
        df_temp2=df[[col]].apply(lambda x: np.log(x/x.shift(1)))
        df_ret=pd.concat([df_ret, df_temp2], join_axes=[df.index], axis=1)
    return df_ret

df_ret=asset_returns(df)

In [20]:
df_ret.to_csv("Returns.csv")
df_ret.head()

,LT,ICICIBANK,EICHERMOT,HDFC,WIPRO,SUNPHARMA,ITC,VIDEOIND,HINDZINC,TCS
Date,,,,,,,,,,
2017-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-15,-0.001484,-0.007176,-0.001787,-0.001610,0.008082,-0.000667,-0.009976,-0.048267,-0.001970,0.007651
2017-09-18,0.020855,0.004790,0.023410,0.001582,0.012347,-0.006218,-0.008577,-0.005510,0.021622,-0.002797
2017-09-19,-0.009782,0.005616,-0.011114,-0.010867,-0.000173,-0.010127,0.003178,-0.013908,-0.008074,-0.000320
2017-09-20,0.008165,-0.014013,0.001220,0.008268,0.009120,-0.020171,0.013719,0.000000,-0.011578,-0.001883

In [21]:
nse_ret=asset_returns(nse)
nse_ret.head()

                 NSE
Date
2017-09-14       NaN
2017-09-15 -0.000119
2017-09-18  0.006690
2017-09-19 -0.000547
2017-09-20 -0.000631

## Asset Annual  Returns & Risk

In [22]:
sr_ret=df_ret.mean()*252

In [23]:
sr_rsk=df_ret.std()

In [26]:
df_val=pd.DataFrame(index=sr_ret.index)
df_val["Return"]=sr_ret
df_val["Risk"]=sr_rsk
df_val.to_csv("RetunRiskAsset.csv")
df_val.head()

             Return      Risk
LT         0.113909  0.013708
ICICIBANK  0.112865  0.019889
EICHERMOT -0.088382  0.015083
HDFC       0.084166  0.012126
WIPRO      0.154502  0.012334

## Asset Beta Function

In [30]:
def beta_calc(stock, nse):
    beta=stock.cov(nse)/nse.var()
    return beta

## Asset Beta Calculation

In [31]:
sr_beta=[]
for col in df_ret.columns:
    beta=beta_calc(df_ret[col], nse_ret["NSE"])
    sr_beta.append(beta)
print sr_beta

[1.3156966519488111, 1.5695832978429325, 0.789718678592294, 1.0971556071963802, 0.3548681486507837, 1.014476067719258, 0.849629588090378, 0.4204443812548077, 1.1842593564907737, -0.41716406482009466]

In [62]:
df_val["Beta"]=sr_beta
df_val.head()
df_val.to_csv("AssetProfile.csv")

### Importing for Permutation and combinations

In [33]:
from itertools import combinations, permutations
comb= permutations(df_ret.columns, 4)

In [34]:
comb_l=[]
for c in comb:
    comb_l.append(list(c))
len(comb_l)

5040

### Setting up weights

In [35]:
weights=(0.1,0.2,0.3,0.4)

In [36]:
df_comb= pd.DataFrame(comb_l, columns=["A","B","C","D"])
columns=df_comb.columns
df_comb

        A          B          C          D
0      LT  ICICIBANK  EICHERMOT       HDFC
1      LT  ICICIBANK  EICHERMOT      WIPRO
2      LT  ICICIBANK  EICHERMOT  SUNPHARMA
3      LT  ICICIBANK  EICHERMOT        ITC
4      LT  ICICIBANK  EICHERMOT   VIDEOIND
5      LT  ICICIBANK  EICHERMOT   HINDZINC
6      LT  ICICIBANK  EICHERMOT        TCS
7      LT  ICICIBANK       HDFC  EICHERMOT
8      LT  ICICIBANK       HDFC      WIPRO
9      LT  ICICIBANK       HDFC  SUNPHARMA
10     LT  ICICIBANK       HDFC        ITC
11     LT  ICICIBANK       HDFC   VIDEOIND
12     LT  ICICIBANK       HDFC   HINDZINC
13     LT  ICICIBANK       HDFC        TCS
14     LT  ICICIBANK      WIPRO  EICHERMOT
15     LT  ICICIBANK      WIPRO       HDFC
16     LT  ICICIBANK      WIPRO  SUNPHARMA
17     LT  ICICIBANK      WIPRO        ITC
18     LT  ICICIBANK      WIPRO   VIDEOIND
19     LT  ICICIBANK      WIPRO   HINDZINC
20     LT  ICICIBANK      WIPRO        TCS
21     LT  ICICIBANK  SUNPHARMA  EICHERMOT
22     LT  ICICIBANK  SUNPHARMA       HDFC
23     LT  ICICIBANK  SUNPHARMA      WIPRO
24     LT  ICICIBANK  SUNPHARMA        ITC
25     LT  ICICIBANK  SUNPHARMA   VIDEOIND
26     LT  ICICIBANK  SUNPHARMA   HINDZINC
27     LT  ICICIBANK  SUNPHARMA        TCS
28     LT  ICICIBANK        ITC  EICHERMOT
29     LT  ICICIBANK        ITC       HDFC
...   ...        ...        ...        ...
5010  TCS   HINDZINC       HDFC        ITC
5011  TCS   HINDZINC       HDFC   VIDEOIND
5012  TCS   HINDZINC      WIPRO         LT
5013  TCS   HINDZINC      WIPRO  ICICIBANK
5014  TCS   HINDZINC      WIPRO  EICHERMOT
5015  TCS   HINDZINC      WIPRO       HDFC
5016  TCS   HINDZINC      WIPRO  SUNPHARMA
5017  TCS   HINDZINC      WIPRO        ITC
5018  TCS   HINDZINC      WIPRO   VIDEOIND
5019  TCS   HINDZINC  SUNPHARMA         LT
5020  TCS   HINDZINC  SUNPHARMA  ICICIBANK
5021  TCS   HINDZINC  SUNPHARMA  EICHERMOT
5022  TCS   HINDZINC  SUNPHARMA       HDFC
5023  TCS   HINDZINC  SUNPHARMA      WIPRO
5024  TCS   HINDZINC  SUNPHARMA        ITC
5025  TCS   HINDZINC  SUNPHARMA   VIDEOIND
5026  TCS   HINDZINC        ITC         LT
5027  TCS   HINDZINC        ITC  ICICIBANK
5028  TCS   HINDZINC        ITC  EICHERMOT
5029  TCS   HINDZINC        ITC       HDFC
5030  TCS   HINDZINC        ITC      WIPRO
5031  TCS   HINDZINC        ITC  SUNPHARMA
5032  TCS   HINDZINC        ITC   VIDEOIND
5033  TCS   HINDZINC   VIDEOIND         LT
5034  TCS   HINDZINC   VIDEOIND  ICICIBANK
5035  TCS   HINDZINC   VIDEOIND  EICHERMOT
5036  TCS   HINDZINC   VIDEOIND       HDFC
5037  TCS   HINDZINC   VIDEOIND      WIPRO
5038  TCS   HINDZINC   VIDEOIND  SUNPHARMA
5039  TCS   HINDZINC   VIDEOIND        ITC

[5040 rows x 4 columns]

### Return Function

In [37]:
#     comb_ret+=df_comb.loc[0,col]*wgt
def calc_ret(row_no, weights,columns, factor_name):
    comb_ret=0
    for col, wgt in zip(columns, weights):
        tick=df_comb.loc[row_no,col]
        comb_ret+=df_val.loc[tick,factor_name]*wgt
    
    return comb_ret

## 1. Portfolio Return and Beta Calculation

In [38]:
ret_lst=[]
beta_lst=[]

for row in df_comb.index:
    ret_lst.append(calc_ret(row, weights,columns, "Return"))
    beta_lst.append(calc_ret(row, weights,columns, "Beta"))

df_comb["Return"]=ret_lst
df_comb["Beta"]=beta_lst

df_comb.head()

    A          B          C          D    Return      Beta
0  LT  ICICIBANK  EICHERMOT       HDFC  0.041116  1.121264
1  LT  ICICIBANK  EICHERMOT      WIPRO  0.069250  0.824349
2  LT  ICICIBANK  EICHERMOT  SUNPHARMA  0.103566  1.088192
3  LT  ICICIBANK  EICHERMOT        ITC  0.056649  1.022254
4  LT  ICICIBANK  EICHERMOT   VIDEOIND -0.608158  0.850580

### Correlation matrix calculation

In [39]:
df_corr=df_ret.corr()
df_corr

,LT,ICICIBANK,EICHERMOT,HDFC,WIPRO,SUNPHARMA,ITC,VIDEOIND,HINDZINC,TCS
LT,1.000000,0.343376,0.254578,0.345342,0.148970,0.150102,0.235392,0.128054,0.296323,-0.002227
ICICIBANK,0.343376,1.000000,0.150682,0.178685,-0.054827,0.079972,0.202889,0.080219,0.261701,-0.037936
EICHERMOT,0.254578,0.150682,1.000000,0.209263,0.081114,0.069650,0.131455,0.067445,0.194155,-0.082394
HDFC,0.345342,0.178685,0.209263,1.000000,0.069532,0.076764,0.287477,0.054906,0.197727,-0.111986
WIPRO,0.148970,-0.054827,0.081114,0.069532,1.000000,0.104565,0.064064,-0.079821,0.111830,0.035235
SUNPHARMA,0.150102,0.079972,0.069650,0.076764,0.104565,1.000000,0.097007,0.005715,0.230578,0.102813
ITC,0.235392,0.202889,0.131455,0.287477,0.064064,0.097007,1.000000,-0.005943,0.127575,0.012724
VIDEOIND,0.128054,0.080219,0.067445,0.054906,-0.079821,0.005715,-0.005943,1.000000,0.135344,-0.002841
HINDZINC,0.296323,0.261701,0.194155,0.197727,0.111830,0.230578,0.127575,0.135344,1.000000,-0.044236
TCS,-0.002227,-0.037936,-0.082394,-0.111986,0.035235,0.102813,0.012724,-0.002841,-0.044236,1.000000

In [40]:
from matplotlib import pyplot
import seaborn as sns; sns.set()
# uniform_data = np.random.rand(10, 12)
pyplot.figure(figsize=(16, 16))

ax = sns.heatmap(df_corr, cmap="Greens", vmin=0.01, vmax=.5, square=True )

In [43]:
df_corr.to_csv("CorrelationMatrix.csv")

### Risk Function

In [44]:
import math

def calc_rsk(row, weights):
    asset_list=list(df_comb.loc[row,:"D"])
    asset_weight={}
    
    
#     This coomand willl help us to form key value pair of weights of portfolio
    for a, w in zip(asset_list, weights):
        asset_weight[a]=w 
        
        
        
    comb_risk=0
#   (weights x )^2
    for a in asset_list: 
        comb_risk+=(df_val["Risk"][a] * asset_weight[a])**2
    
            
    for p in combinations(asset_list, 2):
        a1=p[0]
        a2=p[1]
        comb_risk += 2*asset_weight[a1]*df_val["Risk"][a1] \
                      *asset_weight[a2]*df_val["Risk"][a2] \
                      * df_corr[a1][a2]
        
    comb_risk=math.sqrt(comb_risk)
    
    return comb_risk

## 2. Portfolio Risk Calculation

In [45]:
rsk_lst=[]
for row in df_comb.index:
    rsk_lst.append(calc_rsk(row,weights))
df_comb["Risk"]=rsk_lst
df_comb.head()

    A          B          C          D    Return      Beta      Risk
0  LT  ICICIBANK  EICHERMOT       HDFC  0.041116  1.121264  0.009732
1  LT  ICICIBANK  EICHERMOT      WIPRO  0.069250  0.824349  0.008850
2  LT  ICICIBANK  EICHERMOT  SUNPHARMA  0.103566  1.088192  0.011270
3  LT  ICICIBANK  EICHERMOT        ITC  0.056649  1.022254  0.009445
4  LT  ICICIBANK  EICHERMOT   VIDEOIND -0.608158  0.850580  0.016326

## 3. Sharpe Ratio

In [46]:
df_comb["SharpeRatio"]=(df_comb["Return"]-0.069)/df_comb["Risk"]
df_comb.head()

,A,B,C,D,Return,Beta,Risk,SharpeRatio
0,LT,ICICIBANK,EICHERMOT,HDFC,0.041116,1.121264,0.009732,-2.865310
1,LT,ICICIBANK,EICHERMOT,WIPRO,0.069250,0.824349,0.008850,0.028276
2,LT,ICICIBANK,EICHERMOT,SUNPHARMA,0.103566,1.088192,0.011270,3.066987
3,LT,ICICIBANK,EICHERMOT,ITC,0.056649,1.022254,0.009445,-1.307751
4,LT,ICICIBANK,EICHERMOT,VIDEOIND,-0.608158,0.850580,0.016326,-41.476397

## 4.Tryernor Ratio

In [47]:
df_comb["TreynorRatio"]=(df_comb["Return"]-0.069)/df_comb["Beta"]
df_comb.head()

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio
0,LT,ICICIBANK,EICHERMOT,HDFC,0.041116,1.121264,0.009732,-2.865310,-0.024869
1,LT,ICICIBANK,EICHERMOT,WIPRO,0.069250,0.824349,0.008850,0.028276,0.000304
2,LT,ICICIBANK,EICHERMOT,SUNPHARMA,0.103566,1.088192,0.011270,3.066987,0.031765
3,LT,ICICIBANK,EICHERMOT,ITC,0.056649,1.022254,0.009445,-1.307751,-0.012082
4,LT,ICICIBANK,EICHERMOT,VIDEOIND,-0.608158,0.850580,0.016326,-41.476397,-0.796113

## 5. Information Ratio

In [48]:
nse_ret_annual=nse_ret["NSE"].mean()*252
nse_ret_annual
print("Annnual Return of NSE:{}".format(nse_ret_annual) )
df_comb["InformationRatio"]=(df_comb["Return"]-nse_ret_annual)/df_comb["Risk"]
df_comb.head()

Annnual Return of NSE:0.143751879301

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio
0,LT,ICICIBANK,EICHERMOT,HDFC,0.041116,1.121264,0.009732,-2.865310,-0.024869,-10.546593
1,LT,ICICIBANK,EICHERMOT,WIPRO,0.069250,0.824349,0.008850,0.028276,0.000304,-8.418000
2,LT,ICICIBANK,EICHERMOT,SUNPHARMA,0.103566,1.088192,0.011270,3.066987,0.031765,-3.565578
3,LT,ICICIBANK,EICHERMOT,ITC,0.056649,1.022254,0.009445,-1.307751,-0.012082,-9.222502
4,LT,ICICIBANK,EICHERMOT,VIDEOIND,-0.608158,0.850580,0.016326,-41.476397,-0.796113,-46.055003

## 6. Sortino Ratio

### 6.1 Finding downside risk.

In [49]:
def down_risk(row, df_comb):
    comb=df_comb.loc[row, :"D"]
    MARR=.1
    ret=0
    for asset, w in zip(comb, weights):
        ret+=df_ret[asset]*w
    port_ret=pd.DataFrame(ret)
    port_ret.columns=["PortRet"]
    port_ret["PortRet"]=port_ret["PortRet"]-MARR/len(port_ret)
    port_ret[port_ret < 0] = 0
    return port_ret.std()

In [50]:
down_risk_lst=[]
for index in range(0,len(df_comb)):
    down_risk_lst.append(down_risk(index,df_comb)[0])

down_risk_lst

[0.005538812851363892,
 0.005370309526071841,
 0.00679522927446056,
 0.005872736844023781,
 0.008721789851651833,
 0.006459707302189797,
 0.005434738772944077,
 0.005775038718717983,
 0.004908137158248969,
 0.006482046648091514,
 0.005770538180280856,
 0.008620238961289477,
 0.006293805914322786,
 0.0050013353447700545,
 0.005612276873343902,
 0.004955667219769828,
 0.006421900288235641,
 0.005448545819486048,
 0.008455488347245152,
 0.005991476410243952,
 0.005468640604059972,
 0.006388645434861636,
 0.005905886883838867,
 0.00581967923313535,
 0.006190093924036207,
 0.009167308417581059,
 0.006732672563448496,
 0.005929224265734946,
 0.005993222651905401,
 0.005671944130308916,
 0.005321280296619958,
 0.0066595319693054725,
 0.008499669741746898,
 0.006451550230224306,
 0.005197563650269592,
 0.007577239039417519,
 0.007248059176644221,
 0.006994433845677488,
 0.008294372628478524,
 0.007180620832540122,
 0.008096579102116228,
 0.006778202336333676,
 0.006355910773964136,
 0.006033072104397457,
 0.005655211846617455,
 0.006980828303093874,
 0.006225391479034947,
 0.009080340902254944,
 0.005420118628814134,
 0.0055463236281548,
 0.004937073436104868,
 0.00536040688311685,
 0.006434000356334839,
 0.005224724992860425,
 0.008296858783186633,
 0.005727788159585694,
 0.005972823445526962,
 0.005836523710597356,
 0.007067718772251947,
 0.006420922060494232,
 0.008932695054716184,
 0.006938907420691188,
 0.005765929943998247,
 0.006732728533863779,
 0.004718720632559643,
 0.0064275299404004315,
 0.00505121124480409,
 0.008329630667046551,
 0.005724774496234917,
 0.004934686421302772,
 0.006600841395373569,
 0.004709194711617822,
 0.006463356047241292,
 0.00481740057552434,
 0.008159074175781376,
 0.0055134095184987365,
 0.005363405559996093,
 0.007175889439274825,
 0.005717794508052005,
 0.005811151968176689,
 0.005726858777099202,
 0.009150610980347402,
 0.006512783193522206,
 0.005994866613154389,
 0.0071497864378666075,
 0.005021029570580244,
 0.00476314448512106,
 0.006374628231087999,
 0.008164264458608374,
 0.005634756882771587,
 0.004895692144613885,
 0.008150325948448299,
 0.006957812435176464,
 0.006644680249721706,
 0.008380512399194946,
 0.006780252591806931,
 0.007700920723973284,
 0.0066476426539947096,
 0.007383563142621543,
 0.0054669293077465484,
 0.005232754250161765,
 0.006893546022396589,
 0.005330839803348541,
 0.008751451715381086,
 0.0051930293562687645,
 0.006431775559381139,
 0.0047106449760252736,
 0.005189086558545582,
 0.006460275834221381,
 0.004731948775707641,
 0.008121454399000116,
 0.005356456883246249,
 0.0063145051925752385,
 0.005515149695837927,
 0.006848597899168661,
 0.0063963292283722535,
 0.0088920098788998,
 0.006882457659475691,
 0.005489326281961801,
 0.006846167880865233,
 0.004905320402333124,
 0.006555474988744861,
 0.005127559484347923,
 0.00843585302433717,
 0.005889334872573698,
 0.0051125299112879915,
 0.006324343235332205,
 0.005124899895942042,
 0.006253253051439252,
 0.004860962082832574,
 0.00819299139948694,
 0.005401591758458231,
 0.005252446499471604,
 0.006974097558515705,
 0.006047418632004753,
 0.005557514059683586,
 0.005780297012344214,
 0.009033392984260969,
 0.006317694321886636,
 0.005888001708696128,
 0.00708840787174097,
 0.00530221669188955,
 0.00473405217746173,
 0.006365290697378048,
 0.008193697204454429,
 0.005578418271059408,
 0.004854604607411238,
 0.00806923940602757,
 0.0072950253850243615,
 0.0066710891821105105,
 0.008130895861733226,
 0.006732554202390759,
 0.007688608065036571,
 0.006531374071658933,
 0.007321737148464487,
 0.005843112177544893,
 0.0050987278063888385,
 0.006700117063602818,
 0.005323890496302098,
 0.008760347252469792,
 0.00501168792359952,
 0.006228339316756094,
 0.005163719174996597,
 0.005049209629572622,
 0.00636176604187391,
 0.004775020275868657,
 0.008077881685062257,
 0.005208087279759085,
 0.006236332948555939,
 0.005633747576643896,
 0.006780409757344495,
 0.006156541651295637,
 0.008793226620472326,
 0.006647641625501011,
 0.005788704308411236,
 0.006761510916530643,
 0.00491066380687924,
 0.00654082628476933,
 0.004951267770530913,
 0.008285784374122909,
 0.005733157011670378,
 0.005331607497014895,
 0.006377518190765896,
 0.0051514182284810054,
 0.006215680224271955,
 0.004964860092403827,
 0.008254455252370268,
 0.005447507792119976,
 0.00506559053609351,
 0.006863095552701279,
 0.00602055198204296,
 0.005498850783475068,
 0.0056987763536158345,
 0.009051316312395375,
 0.006268275666990164,
 0.0061933723175413265,
 0.006840070559719084,
 0.00510156986918851,
 0.0048887523365731276,
 0.006325529653889153,
 0.008119589347023736,
 0.005448669215418275,
 0.005031085661067431,
 0.007946401734417182,
 0.0070386301048054635,
 0.006819283782855419,
 0.008259939735597207,
 0.006665558527273507,
 0.007595790185187897,
 0.006486912857784313,
 0.007089071296234432,
 0.00565633854235528,
 0.005207976510882505,
 0.006679238326687688,
 0.00520619616922605,
 0.008663830833634588,
 0.005276222877294749,
 0.0063598179570976176,
 0.005227024359527267,
 0.0047438129511752,
 0.0065845413062189185,
 0.004807517076611127,
 0.00802115810902436,
 0.005350021117609615,
 0.006526469165838874,
 0.00601457542216196,
 0.005843929873189294,
 0.006462486605398681,
 0.009118070703458832,
 0.0069564990959999195,
 0.005854959633278627,
 0.007034290036465336,
 0.005341689545925941,
 0.00536546408551787,
 0.005336938729818986,
 0.008829055742948117,
 0.006228669145350941,
 0.0055457856710856715,
 0.006710624072243614,
 0.005571304759049601,
 0.004949939193767468,
 0.005368190316103832,
 0.008700969291230414,
 0.0059087690613885595,
 0.005301502660341035,
 0.00653625805991453,
 0.005499259488671971,
 0.00493174798932359,
 0.005222746806013238,
 0.008684111200519408,
 0.0058012846900346955,
 0.005809322649456938,
 0.007128739486708137,
 0.0054866509877458235,
 0.005316481816402305,
 0.005175337378278662,
 0.008622056955365326,
 0.005900536044777802,
 0.005276508393314453,
 0.008213765018823616,
 0.007617640920075576,
 0.007270456338898589,
 0.00728331167604881,
 0.007197948898405763,
 0.008167842508562569,
 0.007010441424575825,
 0.007348533401950731,
 0.006133608454732628,
 0.005664077174851514,
 0.00556807918462423,
 0.005663244775270907,
 0.00922413205470419,
 0.005521795554600173,
 0.006466772501429047,
 0.005506568460498156,
 0.005072464566129858,
 0.005599666596013834,
 0.005113461300629651,
 0.008500648252112422,
 0.005655038235656479,
 0.00654314512731926,
 0.00617960927595178,
 0.005854872065406602,
 0.0070626793684196425,
 0.00886988613837846,
 0.007053579854754579,
 0.005718503896262081,
 0.00713278919259012,
 0.005094863950991025,
 0.004846611491017475,
 0.006456858313006524,
 0.008322172669275924,
 0.005795650344841065,
 0.005053506885431395,
 0.0069680950411106155,
 0.005301706561551938,
 0.004663337910641411,
 0.006341172836097138,
 0.00827987578694731,
 0.005597847395620858,
 0.004839814478368835,
 0.006662217407572603,
 0.005059390776833333,
 0.004714503904533591,
 0.006308004534055163,
 0.008120926552497474,
 0.005408437638507137,
 0.005192939170700155,
 0.0072685778763258505,
 0.005954365096114919,
 0.005713166343385644,
 0.005656051145015906,
 0.009006806302875188,
 0.00630679607936358,
 0.0058619386962584265,
 0.008145007701825297,
 0.0071859154029692614,
 0.00687495345066473,
 0.006608669033339072,
 0.008177705535210833,
 0.007599778011161096,
 0.00641967204922072,
 0.007553310750146284,
 0.005718701505500545,
 0.005367036603294212,
 0.005142756608260046,
 0.006667792355769181,
 0.008665844659894437,
 0.004915639718974393,
 0.006514547393255396,
 0.005090008225812126,
 0.004716518261522505,
 0.005045402488759268,
 0.006354018939208928,
 0.00795669064877971,
 0.005113932643719631,
 0.006953722589764922,
 0.006525488149990566,
 0.006276342931279191,
 0.007592201359971685,
 0.0067465274790631784,
 0.0075715790485167975,
 0.0059923663935434815,
 0.007324268322025489,
 0.00599340929751486,
 0.005485062566210817,
 0.007496936655561033,
 0.005942602278205827,
 0.006788328731036165,
 0.0057120674967324455,
 0.007110635859989325,
 0.006219057241680372,
 0.005404657358573615,
 0.007119970966173799,
 0.005705246277522633,
 0.006658391987466923,
 0.005351002602032933,
 0.006913645019527265,
 0.005779294452484807,
 0.005513419254486854,
 0.007287910991895607,
 0.005514698212337456,
 0.006457735693390411,
 0.005339085385078805,
 0.007561293201983521,
 0.007014257242591323,
 0.006532576265225763,
 0.006639041639938681,
 0.006605339817719254,
 0.007499135004620187,
 0.00638779560680707,
 0.007352141886815916,
 0.00616097928494582,
 0.005724298471943528,
 0.005440124825398652,
 0.007211026243450649,
 0.006538046139284799,
 0.0052115671414903605,
 0.007811517936402929,
 0.006635433700302301,
 0.00637366395027604,
 0.006045389619038847,
 0.007722757931531754,
 0.00616927820222913,
 0.005806552985948588,
 0.006670631099508704,
 0.005970190966441958,
 0.0054348601470059,
 0.005350299768154402,
 0.007010897473194391,
 0.005236731122218213,
 0.006270177068870363,
 0.006695729574558984,
 0.006338979206459511,
 0.006014765297554755,
 0.00718161984193647,
 0.006684398072154257,
 0.009181697854634267,
 0.005791924630891361,
 0.007248203948101682,
 0.005407355559678859,
 0.00516972914204395,
 0.006847813761648629,
 0.00528438708337949,
 0.008636965792054847,
 0.005231583013010076,
 0.00706775033319053,
 0.005628484437882231,
 0.0048860863830047715,
 0.006558551778740766,
 0.005190983669925232,
 0.008577239208085662,
 0.00487141774829146,
 0.006794767280306881,
 0.0053757751670289325,
 0.004924428606387049,
 0.006543286453687608,
 0.005009484504306323,
 0.008409894675218972,
 0.005317360393213742,
 0.007342654420657244,
 0.0063609299927208825,
 0.0059405485208538274,
 0.005896350901857864,
 0.005924168215843802,
 0.009339121627504023,
 0.005961946707191987,
 0.007416342215952789,
 0.005496102254563774,
 0.005211336064326468,
 0.004976525923158967,
 0.006510344910763736,
 0.008403434275157272,
 0.004752581248443574,
 0.008397477960370879,
 0.007435351439833987,
 0.007211558955247272,
 0.006958558026517579,
 0.008486961028406032,
 0.006974437186822819,
 0.0067071761861287,
 0.006570008735301918,
 0.0053105551735110655,
 0.0047952459639777935,
 0.005190526212367327,
 0.0064892515058402565,
 0.0046760580135073145,
 0.008239761993761066,
 0.006112406476377307,
 0.0055951652325849375,
 0.0057201597765718344,
 0.006748260018999343,
 0.005985239422183324,
 0.00868532323517077,
 0.006486284486095211,
 0.006642937582569814,
 0.004820816404765125,
 0.005029390048334306,
 0.006429643122514178,
 0.004828595171825037,
 0.008285917843557625,
 0.0055826007750227925,
 0.006346676643744413,
 0.005074579811362214,
 0.004765347797575062,
 0.0062444051497572905,
 0.004828275172106146,
 0.008173924852109802,
 0.005290737671170206,
 0.006382815245257118,
 0.005105269325425809,
 0.004653387977071733,
 0.006458715622881435,
 0.004760301497722202,
 0.008046123656831146,
 0.005389079323805501,
 0.00681265557546457,
 0.005887690377549905,
 0.005538019237599122,
 0.005857218782647489,
 0.005606858844921539,
 0.008895296036182235,
 0.00615365281818722,
 0.0067217339671041,
 0.005039857225782126,
 0.004795480917047348,
 0.004827565093697744,
 0.006283595000190725,
 0.00798266798788868,
 0.005167835589447781,
 0.007817349072607517,
 0.007110580484025815,
 0.006729478463930483,
 0.006538782108192584,
 0.008056559507843508,
 0.006475701936762598,
 0.00746256209039394,
 0.006940594440850638,
 0.0055359434572059074,
 0.005054895981006948,
 0.005195931703560452,
 0.006578390799439611,
 0.004891123411366113,
 0.008536249751852342,
 0.005371082514151575,
 0.005149501725502795,
 0.006657168475190226,
 0.005529123567033271,
 0.008686683383698126,
 0.006280409036993411,
 0.005255613269172217,
 0.005592049503417656,
 0.004809965893880484,
 0.0064055980154487414,
 0.005467284694909658,
 0.008534564550606284,
 0.006012627258200704,
 0.0048971950872974,
 0.00537559805671354,
 0.00481109892835068,
 0.006391647256201449,
 0.005164982293290696,
 0.008423587253551912,
 0.005759173083272156,
 0.005366505829392762,
 0.006214566022031171,
 0.005800756898233625,
 0.005775436574841578,
 0.005957131495964311,
 0.009180098909834103,
 0.0065413836494309634,
 0.0058845304014061555,
 0.005674682251261803,
 0.0054126066838988745,
 0.00508507947537246,
 0.006488530433412427,
 0.008410888059423555,
 0.0060724501410288085,
 0.004990939436548863,
 0.007524791880647196,
 0.007123348184305721,
 0.006949678838737406,
 0.008324853585062365,
 0.007013966203008014,
 0.007995898033697418,
 0.006720142445112424,
 0.006179965569569109,
 0.005768926025299313,
 0.005450071952876315,
 0.00684159686929583,
 0.005830668387277794,
 0.009009785224855396,
 0.0051995817080664804,
 0.005328237777423612,
 0.00477601317885783,
 0.005238100116439402,
 0.006381419980434344,
 0.004950024781808521,
 0.008249569562387383,
 0.005466611065110544,
 0.005420528407998964,
 0.005257769888062905,
 0.006636226617072576,
 0.005617317161358021,
 0.008756159548923894,
 0.006364640278770924,
 0.0052650808262741655,
 0.005687412454496088,
 0.00461150069127834,
 0.0063742723461940485,
 0.005191669198919297,
 0.008314045339239854,
 0.005784142049555274,
 0.0048446899454079925,
 0.005525865064178616,
 0.004630306679985779,
 0.0063569148810392676,
 0.004943131831482282,
 0.00808532018833104,
 0.005527805597821568,
 0.00529503102804425,
 0.0062601562703173096,
 0.005689389323601368,
 0.005700102855561578,
 0.005821581518473445,
 0.009026198933619382,
 0.006508823255683819,
 0.00588938970085953,
 0.005821457412523337,
 0.0051316993291087324,
 0.004840736379597563,
 0.006420392336141805,
 0.008169568983658377,
 0.005819109132219979,
 0.0049107123771547296,
 0.0076620782008462104,
 0.006946169314227816,
 0.006545646728210672,
 0.008249470256754635,
 0.006825447654326421,
 0.007688226914045136,
 0.00656911270128631,
 0.006355654283621945,
 0.005495259366540338,
 0.005217861308404282,
 0.0068683880213453756,
 0.005541096475329421,
 0.008734432637198789,
 0.005152274278959321,
 0.005369819056509958,
 0.004651700562028213,
 0.005137170113528182,
 0.006388146233265954,
 0.0048278937622928675,
 0.008057365017979518,
 0.005360416287470393,
 0.005806601323307482,
 0.005041704092909099,
 0.006494970935684408,
 0.005600172818551611,
 0.008657763497833119,
 0.006197364846772831,
 0.005063777447353653,
 0.005853991472341334,
 0.00482773733982032,
 0.0065160940007627085,
 0.005288828552671627,
 0.008392066115529732,
 0.005895776387757629,
 0.005052022948566654,
 0.0053011206491790286,
 0.005094412902046684,
 0.006117298797711676,
 0.004916568546650096,
 0.008150078124994338,
 0.005447858122534918,
 0.005093900943266043,
 0.006087305331545491,
 0.006048660094546166,
 0.005400942636959829,
 0.005814024677451298,
 0.008927433439481804,
 0.006343769411246829,
 0.005732231303356529,
 0.005730518853168626,
 0.005435009829638096,
 0.004741435160717853,
 0.006358904005637763,
 0.008210648385158567,
 0.005813452687041324,
 0.004796784311729156,
 0.0074369634110684115,
 0.007240576063401551,
 0.006600689514971907,
 0.008020961626156654,
 0.006803196749566839,
 0.007711434675707508,
 0.006489882612290953,
 0.006173108885624379,
 0.005829577020936283,
 0.005105980248817071,
 0.006697085837555918,
 0.0055664996014238195,
 0.008768948105217151,
 0.004966933563229141,
 0.005172319999980266,
 0.0051462919125649315,
 0.004901254181240987,
 0.00623400000752697,
 0.004795447071693174,
 0.008043956472020808,
 0.0052360541094522645,
 0.005644672327630762,
 0.005080065451895595,
 0.006486994696864348,
 0.00539890400787586,
 0.008632939614146034,
 0.006016405720133783,
 0.005336842459495384,
 0.005688173873128916,
 0.004847821219794278,
 0.0064802173439039755,
 0.0051333845273137625,
 0.00824765572543064,
 0.005744254959899941,
 0.005301187659776382,
 0.005327176981573284,
 0.00512217900679555,
 0.00612607294366378,
 0.005040050527914935,
 0.008228556889486316,
 0.0055286238496240776,
 0.004920900017927504,
 0.006040376547499474,
 0.005995231852948171,
 0.005422866391201886,
 0.005660862264143255,
 0.008933325249748743,
 0.006218497666316008,
 0.006032623632938859,
 0.005570811971742509,
 0.005269732543610616,
 0.004952117842485003,
 0.006235774708459912,
 0.008113644816714007,
 0.0056166843817379505,
 0.004987786466547525,
 0.0074424339705735495,
 0.006995614314486227,
 0.006811676360791825,
 0.008120120351925931,
 0.006701462968916601,
 0.007592678276500992,
 0.006423977814292087,
 0.005975943358676659,
 0.005669696165237647,
 0.005264488819746458,
 0.006603183841236792,
 0.005385721184934309,
 0.008652610356525798,
 0.005196883921680408,
 0.005319918702628918,
 0.005252454241980349,
 0.004656408820738333,
 0.006436165087525597,
 0.004814504304328981,
 0.007970489480686023,
 0.005349086625936896,
 0.0059931878967276605,
 0.005510305499327452,
 0.0054776718829446834,
 0.005743649163842517,
 0.009033240232544202,
 0.006370032730945922,
 0.005518932420157679,
 0.0060258778477502335,
 0.005330075218445879,
 0.00532389740278254,
 0.005503952104859674,
 0.00874627196080556,
 0.006236319289941705,
 0.005475046977507266,
 0.005692890359899287,
 0.00556197369259179,
 0.004831192712614835,
 0.005461632611818937,
 0.008632208034691974,
 0.005974317180462251,
 0.00515457406831208,
 0.005655167151230413,
 0.005509408238297071,
 0.004854087672649899,
 0.005195616510242856,
 0.008581602945741585,
 0.00576031171573665,
 0.005642110062304133,
 0.005904488920865121,
 0.005641678463763578,
 0.0054081328782380885,
 0.0051059405654443266,
 0.008555612959412281,
 0.006040685590964223,
 0.005181117669613734,
 0.007888827325588694,
 0.007554578604883715,
 0.0072262865030230565,
 0.007155184834034769,
 0.007166222306975744,
 0.008129190191976146,
 0.006883017965762406,
 0.006315386952056625,
 0.006137696935982382,
 0.005736502656254264,
 0.005497804659157638,
 0.005815628893566185,
 0.009173708975078394,
 0.005444548031344812,
 0.005530668455888971,
 0.0054918521670057185,
 0.004983636059975004,
 0.005437118906861369,
 0.005063400582099372,
 0.008396656672571758,
 0.005620872340517948,
 0.005855728674929468,
 0.005494651517287719,
 0.005225112187044313,
 0.0065705466345249075,
 0.008617231988398694,
 0.006252454547253757,
 0.005117203827153556,
 0.005918051120117569,
 0.005162943055040514,
 0.004927602941424021,
 0.006505621756554525,
 0.00830388109445917,
 0.005922479667927001,
 0.0050950638634790005,
 0.005676749311993669,
 0.005383591358289066,
 0.00464091068763183,
 0.006338559925843056,
 0.008286766638161306,
 0.0058140264901010855,
 0.004766495933219063,
 0.0054730931363426005,
 0.005170861272503868,
 0.004714154379218311,
 0.006191101935983675,
 0.008103159651508858,
 0.005517996775041742,
 0.005123127846856836,
 0.006201908388010744,
 0.006044623273841657,
 0.005756471917715789,
 0.005538499187763415,
 0.008925762283384826,
 0.0063899119491765445,
 0.00574673079155858,
 0.007438930656384786,
 0.007188421152533482,
 0.006940623401524686,
 0.006587732750998514,
 0.00807482890801243,
 0.00766113857955489,
 0.006404408746853109,
 0.006215918316990259,
 0.0058360689017914235,
 0.005562337460953515,
 0.005209623846973899,
 0.006705914879950192,
 0.008705273110128512,
 0.004952800522152337,
 0.005243257044624047,
 0.005199530374039421,
 0.0047117824058623605,
 0.005001709379391063,
 0.006273845641046541,
 0.007947820117455349,
 0.0052449761244627875,
 0.006704217240264115,
 0.006129468884984103,
 0.006044198144238653,
 0.007501148357879037,
 0.006207445168682331,
 0.0071768369578903346,
 0.005753416972620739,
 0.006763884485024102,
 0.005938033732010911,
 0.005416515170630396,
 0.007401202133962768,
 0.0060115322088295335,
 0.006755834102215547,
 0.005617930509368511,
 0.0063394468822568955,
 0.006147932429947715,
 0.005334899548682902,
 0.007015635058931422,
 0.005815381760299768,
 0.006690971796955792,
 0.0052974139036444995,
 0.006338412959797088,
 0.005715608136116142,
 0.005459690267349326,
 0.007128583280375138,
 0.005548683789132328,
 0.006442819035688882,
 0.005273467304768797,
 0.0071523138647476975,

In [51]:
df_comb["DownRisk"]=down_risk_lst

### 6.2 Finding sortino Ratio

In [52]:
df_comb["SortioRatio"]=(df_comb["Return"]-0.069)/df_comb["DownRisk"]
df_comb.head()

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio
0,LT,ICICIBANK,EICHERMOT,HDFC,0.041116,1.121264,0.009732,-2.865310,-0.024869,-10.546593,0.005539,-5.034347
1,LT,ICICIBANK,EICHERMOT,WIPRO,0.069250,0.824349,0.008850,0.028276,0.000304,-8.418000,0.005370,0.046599
2,LT,ICICIBANK,EICHERMOT,SUNPHARMA,0.103566,1.088192,0.011270,3.066987,0.031765,-3.565578,0.006795,5.086845
3,LT,ICICIBANK,EICHERMOT,ITC,0.056649,1.022254,0.009445,-1.307751,-0.012082,-9.222502,0.005873,-2.103145
4,LT,ICICIBANK,EICHERMOT,VIDEOIND,-0.608158,0.850580,0.016326,-41.476397,-0.796113,-46.055003,0.008722,-77.639761

### Efficient = Return/Risk

In [53]:
df_comb["Efficient"]=df_comb["Return"]/df_comb["Risk"]
df_comb.head()

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
0,LT,ICICIBANK,EICHERMOT,HDFC,0.041116,1.121264,0.009732,-2.865310,-0.024869,-10.546593,0.005539,-5.034347,4.224928
1,LT,ICICIBANK,EICHERMOT,WIPRO,0.069250,0.824349,0.008850,0.028276,0.000304,-8.418000,0.005370,0.046599,7.824643
2,LT,ICICIBANK,EICHERMOT,SUNPHARMA,0.103566,1.088192,0.011270,3.066987,0.031765,-3.565578,0.006795,5.086845,9.189201
3,LT,ICICIBANK,EICHERMOT,ITC,0.056649,1.022254,0.009445,-1.307751,-0.012082,-9.222502,0.005873,-2.103145,5.997990
4,LT,ICICIBANK,EICHERMOT,VIDEOIND,-0.608158,0.850580,0.016326,-41.476397,-0.796113,-46.055003,0.008722,-77.639761,-37.250097

In [54]:
df_comb.to_csv("AllInfoPortfolio.csv")

# Top 2 Returns

In [55]:
df_comb.nlargest(n=2,columns="Return")

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
304,LT,ITC,WIPRO,SUNPHARMA,0.178458,0.813746,0.010078,10.860732,0.134511,3.443648,0.006308,17.352257,17.707100
808,ICICIBANK,ITC,WIPRO,SUNPHARMA,0.178354,0.839135,0.010048,10.882654,0.130317,3.443500,0.006191,17.663038,17.749393

# Top 2 Efficient

In [56]:
df_comb.nlargest(n=2,columns="Efficient")

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
759,ICICIBANK,SUNPHARMA,ITC,WIPRO,0.158045,0.756690,0.008295,10.734710,0.117677,1.723119,0.005106,17.439547,19.052892
255,LT,SUNPHARMA,ITC,WIPRO,0.158150,0.731301,0.008344,10.684443,0.121906,1.725559,0.005175,17.225880,18.953975

# Top 2 Sharpe Ratio

In [57]:
df_comb.nlargest(n=2,columns="SharpeRatio")

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
815,ICICIBANK,ITC,SUNPHARMA,WIPRO,0.169775,0.773174,0.009085,11.092325,0.130339,2.864343,0.005538,18.195302,18.687194
311,LT,ITC,SUNPHARMA,WIPRO,0.169879,0.747786,0.009150,11.024708,0.134904,2.855349,0.005656,17.835608,18.565465

# Top 2 Treynor Ratio

In [58]:
df_comb.nlargest(n=2,columns="TreynorRatio")

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
311,LT,ITC,SUNPHARMA,WIPRO,0.169879,0.747786,0.009150,11.024708,0.134904,2.855349,0.005656,17.835608,18.565465
1823,HDFC,ITC,SUNPHARMA,WIPRO,0.166905,0.725932,0.008995,10.884011,0.134868,2.573890,0.005536,17.684872,18.554699

# Top 2 Information Ratio

In [59]:
df_comb.nlargest(n=2,columns="InformationRatio")

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
304,LT,ITC,WIPRO,SUNPHARMA,0.178458,0.813746,0.010078,10.860732,0.134511,3.443648,0.006308,17.352257,17.707100
808,ICICIBANK,ITC,WIPRO,SUNPHARMA,0.178354,0.839135,0.010048,10.882654,0.130317,3.443500,0.006191,17.663038,17.749393

# Top 2 Sortino Ratio

In [60]:
df_comb.nlargest(n=2,columns="SortioRatio")

,A,B,C,D,Return,Beta,Risk,SharpeRatio,TreynorRatio,InformationRatio,DownRisk,SortioRatio,Efficient
815,ICICIBANK,ITC,SUNPHARMA,WIPRO,0.169775,0.773174,0.009085,11.092325,0.130339,2.864343,0.005538,18.195302,18.687194
311,LT,ITC,SUNPHARMA,WIPRO,0.169879,0.747786,0.009150,11.024708,0.134904,2.855349,0.005656,17.835608,18.565465

## Saving Work

In [61]:
df_comb.to_csv("AllPortfolio.csv")