In [2]:
################################################################
############# Statistical Programming with R ###################
################################################################

getwd()
##Session 1

[1] "/home/boo/notebook/RTut/R class"

In [9]:
#How to create an object
#R is an object oriented language
#Different types of data can be generated in R
# Generate objects using Assignment Operator which is <- or =
#For example
x<-5
y=5

In [4]:
#Assign some output in x
x=5*6+2 #R is a dynamic language
x=6+5
#It replaces the old values of the objects with new one

#We can generate different types of structures in R 
#For Example vector, matrix, dataframe, list 
#########################################################


#########################################################
#####How to Generate vectors in R studio#################
#########################################################
#First clean the slate using rm(list = ls()) command in console
rm(list = ls())

In [10]:
Marks_R=c(5,6,9)
Names_R=c("R", "Vivek", "X")
Status_R=c(T,F,T)

#Vector is an object in R
#c() is used for generating vectors
#c stands for combine (combine values to make a vector)
#diffrerent types of vectors could be generated in R
#For example
x=c(5,6,9,10)#A numerical vector with 4 observations or elements
#All obs must be of same type (numeric, character, or logical)

In [ ]:
y=c("Ram", "Shyam", "Sam", "Thomas")#A character vector with 4 observations or elements
#We will discuss all types of vectors in next video

#These vectors can be combined to make a matrix or dataframe
#with the help of cbind (column bind command)

In [16]:
x
y
z=cbind(x,y)#Makes a matrix

is.matrix(z)

     [,1] [,2] [,3]
[1,] 5    7     9
[2,] 6    8    10

     [,1] [,2]
[1,] 5     8
[2,] 6     9
[3,] 7    10

ERROR: Error in cbind(x, y): number of rows of matrices must match (see arg 2)

In [21]:
z
str(z)
class(z)#What kind of object it is

     [,1] [,2]
[1,] 130  193
[2,] 148  220

 num [1:2, 1:2] 130 148 193 220

[1] "matrix"

In [23]:
##Make a dataframe
z=data.frame(z)#Makes a matrix (Coercion to character data)
z

  X1  X2
1 130 193
2 148 220

In [19]:
is.matrix(z)
z
str(z)
class(z)#What kind of object it is

#The difference between matrix, dataframe, or list structures
#############################################################


###############################################################
########Types of data in R studio or atomic vectors############
###############################################################
#First clean the slate using rm(list = ls()) command in console
rm(list = ls())

#Numeric
x=c(5.2,6.99,9.032,10)
class(x)

     [,1] [,2]
[1,] 130  193
[2,] 148  220

 num [1:2, 1:2] 130 148 193 220

[1] "matrix"

ERROR: Error in data.frame(x, y): arguments imply differing number of rows: 2, 3

In [ ]:
#Character
x1=c('Ram', 'Shyam', 'Sam', 'Thomas') #Use inverted commas (sigle or double quotations)
class(x1)

#Logical or Boolean
x2=c(TRUE, FALSE) #Do not add inverted commas otherwise it will be character vector
class(x2)

#Integer
x3=c(5L,6L,9L,10L) #Use L for every number
class(x3)

#Complex
x4=c(3 + 2i, 5 + 3i)
class(x4)
###############################################################


###############################################################
########How to do vector operations/ vectorization in R########
###############################################################
#First clean the slate using rm(list = ls()) command in console
rm(list = ls())

#Add a scalar (single value) in each element of vector
#We can add, subtract, multiply, divide, or any operation on a vector
#For example
x=c(5,6,9,10)

#Add 5 to each element, and make a new vector y
y=x+5

#subtract 5 from each element, and make a new vector y1
y1=x-5

#multiply each element from 2, and make a new vector y2
y2=x*2

#divide each element from 2, and make a new vector y3
y3=x/2

#Take log of each element, and make a new vector y4
y4=log(x) #Natural log

#Take square root
sqrt(x)

#Do squares, or any exponent
x^5

##So we can do any vector operation for each element
#of a vector easily

#We can do element to element operations in 
#vectors of same length
#+,-,*,/, or any operation
x
y
z=x+y
#Similarly other operations could be done easily
###################################################


###################################################
####Vector, Matrix, Dataframe, List################
####The basic data structures/objects in R#################
###################################################
#Vector/Column/Variable
x=c("Ram","Shyam")#Character vector
x1=c("Ram","Shyam", "Sam", "Thomas")#Character vector
y=c(5,6,9,4) #Numeric vector

In [24]:
#Matrix
#A matrix is a two-dimensional data structure. 
#All the elements of a matrix must be of the same type (numeric, logical, character). 
#You can create a matrix with the matrix() command
#a combination of equal length same type vectors
mat_A=matrix(1:10,nrow = 5,ncol = 2)

In [25]:
mat_A

     [,1] [,2]
[1,] 1     6
[2,] 2     7
[3,] 3     8
[4,] 4     9
[5,] 5    10

In [26]:
is.matrix(mat_A)#Verify
dim(mat_A)#Rows, columns
nrow(mat_A)
ncol(mat_A)
length(mat_A) #Total observations (rows*columns)

[1] TRUE

[1] 5 2

[1] 5

[1] 2

[1] 10

In [27]:
#We use matrix for numeric data to conduct
#Matrix operations (linear algebra)
#To conduct loops and codes
#Matrix consumes less memory as compared to dataframes
#codes are more efficient for matrices
#The length should be same for all variables/columns in matrix/dataframe 
#Matrix are necessity to do linear algebra operations
#matrix are not very much different from dataframe


#dataframe
#It has features of both matrix and list
# a dataframe is a list of equal-length vectors of different data types
df_A=data.frame(x1,y)
df_A

ERROR: Error in data.frame(x1, y): arguments imply differing number of rows: 4, 3

In [29]:
is.data.frame(df_A)#Verify
dim(df_A)#Rows, columns
names(df_A)

[1] TRUE

[1] 4 2

[1] "x1" "y"

In [30]:
nrow(df_A)
ncol(df_A)
length(df_A)#No. of columns

[1] 4

[1] 2

[1] 2

In [31]:
#Mostly used structure in R
#Can contain different types of data (Numeric, character)
#But one column should contain same data type
#The columns of dataframe can be accessed by name using $ sign
df_A$x1
df_A$y
df_A$y

[1] Ram    Shyam  Sam    Thomas
Levels: Ram Sam Shyam Thomas

[1] 5 6 9 4

[1] 5 6 9 4

In [28]:
yog=df_A$y
#List
#Most powerful structure for looping, output storage
#It is like dataframe of dataframe
#A dataframe of different length vectors of any type

list_A=list(x,x1,y)
is.list(list_A)#verify
#access elements of list using[[]]

list_A[[1]]#first component
list_A[[1]][1]#first element of first component
list_A[[3]]
list_A[[3]][4]
###################################################


#Matrix functions
##########################################
mat_A=matrix(1:10,nrow = 5,ncol = 2, byrow = T)
is.matrix(mat_A)#Verify
dim(mat_A)#Rows, columns
nrow(mat_A)
ncol(mat_A)
length(mat_A) #Total observations (rows*columns)

#We use matrix for numeric data to conduct
#Matrix operations (linear algebra)
#To conduct loops and codes
#Matrix consumes less memory as compared to dataframes
#codes are more efficient for matrices
#The length should be same for all variables/columns in matrix/dataframe 
#Matrix are necessity to do linear algebra operations
#matrix are not very much different from dataframe


###################################################
#### Matrix operations in R Studio ################
###################################################
#Matrix operations are very helpful
#Generate a matrix
matrix(5:10,2,3)#A 2x3 matrix

#Generate a matrix, row-wise
matrix(5:10,2,3, byrow = T)#A 2x3 matrix

#Generate identity matrix
diag(3)#of order 3

#Make a diagonal matrix
diag(c(5,6,9))

#Now move to other computations
#Suppose we have two matrices
x=matrix(5:10,2,3)#A 2x3 matrix
y=matrix(5:10,3,2)#A 3x2 matrix

#Transpose of x
x
t(x)

#addition of matrix, element to element operation
z=y+t(x) #Dimensions must be same

#subtraction of matrix
z=y-t(x) #Dimensions must be same

#Matrix multiplication
z=x%*%y #columns in x and rows in y should be identical

#Compute inverse of square matrix
solve(z)
#####################################################
#####################################################

[1] TRUE

[1] 4 2

[1] "x1" "y"

[1] 4

[1] 2

[1] 2

[1] Ram    Shyam  Sam    Thomas
Levels: Ram Sam Shyam Thomas

[1] 5 6 9 4

[1] 5 6 9 4

[1] TRUE

     [,1] [,2] [,3]
[1,] 5    7     9
[2,] 6    8    10

[1] 5

     [,1] [,2]
[1,] 5     8
[2,] 6     9
[3,] 7    10

[1] 8

[1] TRUE

[1] 5 2

[1] 5

[1] 2

[1] 10

     [,1] [,2] [,3]
[1,] 5    7     9
[2,] 6    8    10

     [,1] [,2] [,3]
[1,] 5    6     7
[2,] 8    9    10

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

     [,1] [,2] [,3]
[1,] 5    0    0
[2,] 0    6    0
[3,] 0    0    9

     [,1] [,2] [,3]
[1,] 5    7     9
[2,] 6    8    10

     [,1] [,2]
[1,] 5     6
[2,] 7     8
[3,] 9    10

     [,1]      [,2]
[1,]  6.111111 -5.361111
[2,] -4.111111  3.611111